<nav class="navbar navbar-expand-lg bg-dark navbar-dark" id="nav">
    <div class="container-fluid">
        <a class="navbar-brand" href="/"><img src="logo.png" width="35px" alt="logo"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
            aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/quienes_somos">¿Quienes Somos?</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/servicios">Servicios</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/portafolio">Portafolio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/testimonios">Testimonios</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contacto">Contacto</a>
                </li>
            </ul>
            <span class="navbar-text fw-bold text-white p-3">
                InnovateTech Solutions
            </span>
        </div>
    </div>
</nav>